body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline:none;border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    background: rgb(142, 141, 141);
}
.header{
    position: fixed;
    top: 0;left: 0;right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    background: #fff;
    box-shadow: var(--box-shadow);
} 
.header p{
    font-size: 2rem;
    color: orange;
}
.header .navbar a{
    font-size: 1rem;
    margin: 0 1rem;
    color: black;
    text-decoration: none;
}
.header .navbar a:hover{
    color: orange;
}
.header .icons div{
    height: 2rem;
    width: 2rem;
    line-height: 2rem;
    border-radius: .3rem;
    background: #eee;
    color: var(--black);
    font-size: 1.5rem;
    margin-right: .3rem;
    padding-right: 2rem;
    text-align: center;
   
}

.header .icons div:hover{
    background: orange;
}
#menu-btn{
    display: none;
}
.header .search-form{
    position: absolute;
    top:110%; right: -110%;
    max-width: 50rem;
    height:3rem;
    background: #fff;
    border-radius: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow: var(--box-shadow);
}

.header .search-form.active{
    right: 2rem;
    transition: .4s linear;
}
.header .search-form input{
    height: 100%;
    width: 100%;
    background: none;
    text-transform: none;
    font-size: 1.6rem;
    color: var(--black);
    padding: 0 1.5rem;
}
.header .search-form label{
    font-size: 2.2rem;
    padding-right: 1.5rem;
    color: black;
    cursor: pointer;
}
.header .search-form label:hover{
    color: orange;
} 

 /*---responsive ---*/
 @media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 2rem;
    }
 }

 @media (max-width:768px){
    #menu-btn{
        display:inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 110%;right: 110%; 
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
        
    }
    .header .navbar.active{
        right: 2rem;
        transition: .4s linear;
    }
    .header .navbar a{
         font-size: 2rem;
         margin: 2rem 2.5rem;
         display: block;
    }
 }

 @media (max-width:450px){
    html{
        font-size: 50%;
    }
 }